In [75]:
import pandas as pd

In [76]:
# Read data from file
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [78]:
#How many races are in the dataset
df['race'].nunique()

5

In [79]:
#Average age of men
df[df['sex']=='Male']['age'].mean()

39.43354749885268

In [80]:
#Percentage of people with Bachelors in the education Column
Bachelors = df[df['education']=='Bachelors'].value_counts().sum()
All = df['education'].value_counts().sum()

print('All :',All)
print('Bachelors :',Bachelors)

Percentage_of_Bachelors = (Bachelors/All)*100
print(Percentage_of_Bachelors,'%')

All : 32561
Bachelors : 5355
16.44605509658794 %

In [81]:
#percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [82]:
# Filter the rows where education is Bachelors, Masters, or Doctorate
advanced_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Filter the rows where salary is >50K
salary_advanced_education = advanced_education.loc[advanced_education["salary"] == ">50K"]

#calculate the percentage
advanced_education_salary_percentage = round(
    100 * len(salary_advanced_education) / len(df),
    1,
)

print(advanced_education_salary_percentage,'%')

10.7 %

In [102]:
#To get the education data set
low_education = All - advanced_education.value_counts().sum()
print(low_education)

25070

In [106]:
#percentage of people without advanced education make more than 50K?
# Filter the rows where education is Bachelors, Masters, or Doctorate
low_education_fil = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Filter the rows where salary is >50K
salary_low_education = low_education_fil.loc[low_education_fil['salary'] == '>50K']

#calculate the percentage
low_education_salary_percentage = round(
    100 * len(salary_low_education) / len(df),
    1,
)

print(low_education_salary_percentage,'%')

13.4 %

In [96]:
#To get the minimum hours per week
min_hours = df['hours-per-week'].min()
print(min_hours)

1

In [132]:
#number of workers who work minimum hours per week and have salary over 50k
workers_min_num = df.loc[df['hours-per-week']==min_hours].value_counts().sum()
print(workers_min_num)
#\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

# Filter the rows where `hours-per-week` is equal to the minimum number of hours
workers_min_hours = df.loc[df['hours-per-week'] == min_hours]

# Filter the rows where `salary` is greater than 50K
salary_min_workers = workers_min_hours.loc[workers_min_hours['salary'] == '>50K']

# Calculate the percentage
salary_min_hours = round(100 * len(salary_min_workers) / len(df), 1)

# Print the result
print(salary_min_hours, '%')

20
0.0 %

In [158]:
#highest earning country
# Filter the rows where `salary` is greater than 50K
rich = df.loc[df["salary"] == ">50K"]

# Calculate the number of rows for each country in the filtered data
rich_count = rich["native-country"].value_counts()

# Print the result
print(rich_count.max())

# Calculate the percentage of people from each country who earn more than 50K
country_percentages = rich["native-country"].value_counts(normalize=True) * 100

# Find the top 3 countries with the highest percentage
top_countries = country_percentages.nlargest(1)

print(top_countries)

7171
native-country
United-States    91.455172
Name: proportion, dtype: float64

In [160]:
# Filter the rows where the salary is greater than 50K and the native-country is India
high_salary_india = df.loc[(df["salary"] == ">50K") & (df["native-country"] == "India")]

# Find the most popular occupation
most_popular_occupation = high_salary_india["occupation"].mode()[0]

print(most_popular_occupation)

Prof-specialty